<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
       <a class="navbar-brand">La Biblio del 210</a>


       <div class="collapse navbar-collapse" id="navbarsExampleDefault"  >
         <ul class="navbar-nav mr-auto">
           <li class="nav-item ">

     </div>


     </nav>
     <div class="container">
       <br><br>
     <% flash.each do | type, value | %>

                 <div>  <%= value%></div>
      <% end %>
     </div>

    <%= yield %>
    </div>
  </body>
</html>
