

<main class="container" role="main">
  <div class="jumbotron">
  <br>

<%= link_to 'Iniciar Sesión', login_path ,class:"btn btn-info" %>
<br> <br> <h5>¡Bienvenidos a la Biblio del 210 !<h5><br><br>
<%= form_tag visitors_search_url ,method: :get do =%>
  <%= text_field_tag :keyword, nil, placeholder: "Buscador de libros" %>
  <%= content_tag :button,class:"btn btn-info", type: :submit do %>
    Buscar

  <% end %>

<% end %>
</div>
