<div class="container">
<br>
<br>

<%= link_to 'Home', visitors_index_path , class:"btn btn-info" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tilulo</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th>Publicado</th>
      <th>ISBN</th>
      <th>Estado</th>

    </tr>
  </thead>


    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author%></td>
        <td><%= book.editorial%></td>
        <td><%= book.year %></td>
        <td><%= book.isbn %></td>
        <td><%= book.state %></td>
      </tr>

    <% end %>

    <% if @books.size == 0 %>
    "NO EXISTE LIBRO"
    <% end %>
</table>
</div>
