<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
   <a class="navbar-brand">La Biblio del 210</a>


   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item ">
         <a class="nav-link"></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link"<%= link_to 'Libros', users_books_path %> </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" ></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link" <%= link_to 'Mis préstamos',users_loans_path %></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link"></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link" ></a>
       </li>
       <li class="nav-item " align ="right">
         <a class="nav-link" <%= link_to 'Cerrar Sesión', logout_path %></a>
       </li>
        </ul>
 </div>
 </nav>

 <main class="container" role="main">
   <div class="jumbotron">
     <% if @current_user %>
     <p>Hola <%= @current_user.name %></p>

     <% end %>

<%= form_tag users_books_url ,method: :get do  =%>
  <%= text_field_tag :keyword, nil, placeholder: "Buscar libros por título o autor" %>
  <%= content_tag :button, class:"btn btn-info",type: :submit do %>
    Buscar

  <% end %>
  <% end %>
  </div >
