<div class="container">
<br>
<h3>Préstamos</h3>
<br>
<%= link_to 'Home', users_index_path , class:"btn btn-info" %>
<br><br>
<table class="table table-striped">
  <thead>

  <thead>
    <tr>
      <th>Usuario</th>
      <th>Libro</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Estado</th>

    </tr>
  </thead>


    <% current_user.loans.each do |loan| %>
      <tr>
        <td><%= loan.user.name %>&nbsp;<%= loan.user.lastname %></td>
        <td><%= loan.book.title%></td>
        <td><%= loan.start_Date %></td>
        <td><%= loan.return_Date %></td>
        <td><%= loan.state %></td>
      </tr>
    <% end %>
    <% if current_user.loans.size == 0 %>
    "NO EXISTE PRÉSTAMO"
    <% end %>
</table>
</div>
