<div class="container">
  <br> <br>
  <h3>Libros</h3>
<br>

<%= link_to 'Home', users_index_path, class:"btn btn-info" %>
<table>
  <thead>
    <tr>
      <th>Tilulo</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th>Publicado</th>
      <th>ISBN</th>
      <th>Estado</th>

    </tr>
  </thead>


    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author%></td>
        <td><%= book.editorial%></td>
        <td><%= book.year %></td>
        <td><%= book.isbn %></td>
        <td><%= book.state %></td>


       <td><%= link_to 'Mostrar', show_users_books_path(book.id) %></td>


      </tr>

      <%= link_to 'Volver', users_index_path %>
    <% end %>
    <br> <br>
    <% if @books.size == 0 %>
    "NO EXISTE LIBRO"
    <% end %>




</table>
</div>
