

<main class="container" role="main">
  <div class="jumbotron">
 <h6>¡Hola!, ingresá tu usuario y contraseña</h6><br>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.email_field :email, :placeholder => 'Email', required: true %>
  <%= f.password_field :password, :placeholder => 'Password', required: true %>
    <%= f.submit "Ingresar", class:"btn btn-info" %>
    <%= link_to 'Cancelar', visitors_index_path , class:"btn btn-info" %>
<% end %>
</div>
