<div class="container">
<br>
<h3>Libros</h3>

<br>

 <%= form_tag librarians_books_url ,method: :get do =%>
   <%= text_field_tag :keyword, nil, placeholder: "Buscar por título o autor " %>
   <%= content_tag :button,class:"btn btn-info",type: :submit do  %>
     Buscar

 <% end %>
 <% end %>

<br><br>

 <%= link_to 'Home', librarians_index_path, class:"btn btn-info" %>
<%=link_to 'Crear libro', librarians_books_new_book_path ,class:"btn btn-info" %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Código libro</th>
      <th>Título</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th>Publicado</th>
      <th>ISBN</th>
      <th>Estado</th>

    </tr>
  </thead>

    <% @books.each do |book| %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.title %></td>
        <td><%= book.author%></td>
        <td><%= book.editorial%></td>
        <td><%= book.year %></td>
        <td><%= book.isbn %></td>
        <td><%= book.state %></td>


        <td><%= link_to 'Mostrar', show_librarians_books_path(book.id), class:"btn btn-info" %></td>
        <td><%= link_to "Editar",edit_librarians_books_path(book.id), class:"btn btn-info" %></td>
        <td><%= link_to "Borrar ",delete_librarians_books_path( book.id),class:"btn btn-warning" , method: :delete, data: { confirm: '¿Deseas eliminar libro?' } %></td>
      </tr>

    <% end %>
    <br> <br>
    <% if @books.size == 0 %>
    "NO EXISTE LIBRO"
    <% end %>




</table>
</div>
