<div class="container">
<br>

<h3>Editar</h3>
<br>

<%= link_to 'Home', librarians_users_path , class:"btn btn-info" %><br>
<br>
<%= form_for :user, :url => { :action => :update_user, :id => @user.id },
:method => :put do |user|  %>
<% if @user.errors.any? %>
 <div id="errorExplanation">
   <h2><%= pluralize(@user.errors.count, "error") %> El usuario no se puede editar</h2>
   <ul>
   <% @user.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
 <% end %>

      <div class="form-group">
      <%= user.label :Nombre %>
      <%= user.text_field :name %>
    </div>
      <div class="form-group">
      <%= user.label :Apellido %>
      <%= user.text_field :lastname %>
    </div>
      <div class="form-group">
      <%= user.label :DNI %>
      <%= user.number_field :dni %>
    </div>
      <div class="form-group">
      <%= user.label :Email %>
      <%= user.email_field :email %>
    </div>

      <div class="form-group">
      <%= user.label :Teléfono %>
      <%= user.text_field :phone %>
    </div>
    <div class="form-group">
      <%= user.label :Contraseña %>
      <%= user.text_field :password %>
    </div>
      <div class="form-group">
      <%= user.label :Confirmación %>
      <%= user.text_field :password_confirmation %>
    </div>
      <div class="form-group">
      <%= user.label :Rol %>
      <%= user.text_field :role %>
    </div>

    <div>

      <%= user.submit 'Editar', class:"btn btn-info"   %>

    </div>

<% end %>
</div>
