
<div class="container">
  <br>
<h3>Editar Préstamo</h3>
  <br>
<%= link_to 'Home', librarians_loans_path , class:"btn btn-info" %>
<br><br>
<%= form_for :loan, :url => { :action => :update_loan, :id => @loan.id },
:method => :put do |loan|  %>
<% if @loan.errors.any? %>
 <div id="errorExplanation">
   <h2><%= pluralize(@loan.errors.count, "error") %> El libro no se puede guardar</h2>
   <ul>
   <% @loan.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
 <% end %>

 <div class="form-group">
   <%= loan.label :Código_Libro %>
   <%= loan.text_field :book_id %>
 </div>

 <div class="form-group">

 <%= loan.label :Número_Socio %>
 <%= loan.text_field :user_id %>
 </div>

<div class="form-group">
 <%= loan.label :Inicio %>
 <%= loan.date_field :start_Date  %>
</div>
<div class="form-group">
 <%= loan.label :Fin  %>
 <%= loan.date_field :return_Date  %>
</div>


  <div class="form-group">
  <div>Activo <%= loan.radio_button :state, "actived" %>  </div>
  <div>Finalizado <%= loan.radio_button :state, "finished" %>  </div>
  <div>Vencido <%= loan.radio_button :state, "expired" %>  </div>
  </div>
    <%= loan.submit 'Guardar',class:"btn btn-info" %>

<% end %>
  </div>
