
<div class="container">
  <br>
<h3>Editar Libro</h3>
  <br>
  <%= link_to 'Home', librarians_index_path , class:"btn btn-info"%>
  <br><br>
<%= form_for :book, :url => { :action => :update_book, :id => @book.id },
:method => :put do |f|  %>
<% if @book.errors.any? %>
 <div id="errorExplanation">
   <h2><%= pluralize(@book.errors.count, "error") %> El libro no se puede guardar</h2>
   <ul>
   <% @book.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
 <% end %>

    <div class="form-group">
      <%= f.label :Título %>
      <%= f.text_field :title, class:"form-group" %>
    </div>
    <div class="form-group">
      <%= f.label :Autor %>
      <%= f.text_field :author , class:"form-group"  %>
    </div>
    <div class="form-group">
      <%= f.label :Editorial %>
      <%= f.text_field :editorial, class:"form-group" %>
    </div>
    <div class="form-group">
      <%= f.label :Publicación  %>
      <%= f.date_field :year , class:"form-group"%>
    <div class="form-group">
    <div>Disponible<%= f.radio_button :state, "available" %>  </div>
    <div>No disponible<%= f.radio_button :state, "anavailable" %>  </div>
    </div>

    <div class="form-group">
      <%= f.label :ISBN %>
      <%= f.text_field :isbn , class:"form-group"%>
    </div>

    <div>

      <%= f.submit 'Guardar', class:"btn btn-info" %>

    </div>


<% end %>
</div>
