<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
   <a class="navbar-brand">La Biblio del 210</a>


   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item ">
         <a class="nav-link"<%= link_to 'Libros', librarians_books_path %></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link" <%= link_to 'Usuarios', librarians_users_path %></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" <%= link_to 'Préstamos', librarians_loans_path %></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link" <%= link_to 'Registrar Usuarios', librarians_users_signup_path %></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link"<%= link_to 'Crear Libros', librarians_books_new_book_path %></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link" <%= link_to 'Crear Préstamos', librarians_loans_new_loan_path %></a>
       </li>
       <li class="nav-item ">
         <a class="nav-link" <%= link_to 'Cerrar Sesión', logout_path %></a>
       </li>
        </ul>
 </div>
 </nav>
    <div class="container">
     <main class="container" role="main">
     <div class="jumbotron" align:"center">
           <br> <h5> Buscar Préstamos <h5>
           <%= form_tag librarians_loans_url ,method: :get do =%>
           <%= text_field_tag :keyword, nil, placeholder: "Por usuario, libros y estado" %>
           <%= content_tag :button,class:"btn btn-info", type: :submit do %>
           Buscar

           <% end %>

           <% end %>
     </div>
</div>
