<div class="container">
<br>
<h3>Préstamos</h3>



<br>
<%= link_to 'Home', librarians_index_path, class:"btn btn-info" %>
<%=link_to 'Crear Préstamo',librarians_loans_new_loan_path , class:"btn btn-info"  %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Número de Socio</th>
      <th>Usuario</th>
      <th>Libro</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Estado</th>

    </tr>
  </thead>


    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.user.id %></td>
        <td><%= loan.user.name %>&nbsp;<%= loan.user.lastname %></td>
        <td><%= loan.book.title%></td>
        <td><%= loan.start_Date %></td>
        <td><%= loan.return_Date %></td>
        <td><%= loan.state %></td>
        <td><%= link_to "Editar",edit_librarians_loans_path(loan.id) , class:"btn btn-info"%></td>
        <td><%= link_to "Borrar ",delete_librarians_loans_path( loan.id),class:"btn btn-warning" ,method: :delete, data: { confirm: '¿Deseas eliminar libro?' } %></td>
      </tr>
    <% end %>
    <br>
    <% if @loans.size == 0 %>
    "NO EXISTE PRÉSTAMO"
    <% end %>


</table>
</div>
