<div class="container">
<br>

<h3>Registrar Usuario</h3>
<br>
           

<%= link_to 'Home', librarians_index_path , class:"btn btn-info"  %>
<%= link_to 'Usuarios', librarians_users_path, class:"btn btn-info"  %>
<br><br><br>
<% if @user.errors.any? %>
 <div id="errorExplanation">
   <h2><%= pluralize(@user.errors.count, "error") %> El usuario no se puede editar</h2>
   <ul>
   <% @user.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
 <% end %>
<%= form_for :user , url: librarians_users_path do |user| %>

<div class="form-group">
<%= user.label :Nombre %>
<%= user.text_field :name %>
</div>
<div class="form-group">
<%= user.label :Apellido %>
<%= user.text_field :lastname %>
</div>
<div class="form-group">
<%= user.label :DNI %>
<%= user.number_field :dni %>
</div>
<div class="form-group">
<%= user.label :Email %>
<%= user.email_field :email %>
</div>

<div class="form-group">
<%= user.label :Teléfono %>
<%= user.text_field :phone %>
</div>
<div class="form-group">
<%= user.label :Contraseña %>
<%= user.text_field :password %>
</div>
<div class="form-group">
<%= user.label :Confirmación %>
<%= user.text_field :password_confirmation %>
</div>


    <div>

      <%= user.submit 'Guardar'  , class:"btn btn-info"   %>

    </div>


<% end %>
