<div class="container">
<br>
<h3>Nuevo Libro</h3>
<br>
<%= link_to 'Home', librarians_index_path , class:"btn btn-info"%>
<%= link_to 'Ver Libros', librarians_books_path , class:"btn btn-info" %>
<br><br>
<%= form_for :book , url: librarians_books_path do |book| %>
<% if @book.errors.any? %>
 <div id="errorExplanation">
   <h2><%= pluralize(@book.errors.count, "error") %> El libro no se puede crear</h2>
   <ul>
   <% @book.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
 <% end %>
    <div class="form-group">
      <%= book.label :Título %>
      <%= book.text_field :title %>
    </div>
    <div class="form-group">
      <%= book.label :Autor %>
      <%= book.text_field :author %>
    </div>
    <div class="form-group">
      <%= book.label :Editorial %>
      <%= book.text_field :editorial %>
    </div>
    <div class="form-group">
      <%= book.label :Año %>
      <%= book.date_field :year %>
    </div>

    <div class="form-group">
      Disponible<%= book.radio_button :state, "available" %>  </div>

    <div class="form-group">
      <%= book.label :isbn %>
      <%= book.text_field :isbn %>
    </div>

    <div class="form-group">

      <%= book.submit 'Guardar', class:"btn btn-info" %>

    </div>


<% end %>
</div>
