<div class="container">
<br>
<h3>Crear préstamo</h3>
<br>
<%= link_to 'Home', librarians_index_path ,class:"btn btn-info" %>
<%= link_to 'Ver Préstamos', librarians_loans_path, class:"btn btn-info"  %><br><br>

<%= form_for :loan , url: librarians_loans_path do |loan| %>





      <div class="form-group">
        <%= loan.label :Código_Libro %>
        <%= loan.text_field :book_id %>
      </div>

      <div class="form-group">

      <%= loan.label :Número_Socio %>
      <%= loan.text_field :user_id %>
      </div>

    <div class="form-group">
      <%= loan.label :Inicio %>
      <%= loan.date_field :start_Date  %>
    </div>
    <div class="form-group">
      <%= loan.label :Fin  %>
      <%= loan.date_field :return_Date  %>
    </div>


    <div class="form-group">

    Activo<%= loan.radio_button :state, "actived" %>
    </div>

          <%= loan.submit 'Guardar', class:"btn btn-info " %>

    <% end %>
    <br> <br>

</div>
