<h1>Libro </h1>

<p>
  <strong> Nombre:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Apellido</strong>
  <%= @user.lastname %>
</p>
<p>
  <strong> DNI:</strong>
  <%= @user.dni %>
</p>
<p>
  <strong>Email</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Teléfono</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>Contraseña</strong>
  <%= @user.password %>
</p>
<p>
  <strong>Confirma Contraseña</strong>
  <%= @user.password_confirmation %>
</p>



<%= link_to 'Editar', :action => :edit_user, :id => @user.id %>
<%= link_to 'Volver', librarians_books_path %>
