<div class="container">
<br>

<h3>Libro </h3>
<br>
<div class="form-group">
  <strong>Título:</strong>
  <%= @book.title %>
</div>
<div class="form-group">
  <strong>Autor:</strong>
  <%= @book.author %>
</div>
<div class="form-group">
  <strong>Editorial</strong>
  <%= @book.editorial %>
</div>
<div class="form-group">
  <strong> Año de publicación:</strong>
  <%= @book.year %>
</div>
<div class="form-group">
  <strong>ISBN</strong>
  <%= @book.isbn %>
</div>
<div class="form-group">
  <strong>Estado</strong>
  <%= @book.state %>
</p>

<%= link_to 'Home', librarians_books_path, class:"btn btn-info" %>
