<div class="container">
<br>
<h3>Usuarios</h3>

<br>
<%= link_to 'Home', librarians_index_path, class:"btn btn-info" %>
<%=link_to 'Registrar usuario',librarians_users_signup_path , class:"btn btn-info" %>
<br><br>

<br>

 <%= form_tag librarians_users_url ,method: :get do =%>
   <%= text_field_tag :keyword, nil, placeholder: "Buscar por DNI " %>
   <%= content_tag :button,class:"btn btn-info",type: :submit do  %>
     Buscar

 <% end %>
 <% end %>

<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Socio</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
      <th>Email</th>
      <th>Telefono</th>

    </tr>
  </thead>


    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><%= user.dni %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>


        <td><%= link_to "Editar",edit_librarians_users_path(user.id),class:"btn btn-info" %></td>
        <td><%= link_to "Borrar",delete_librarians_users_path(user.id),class:"btn btn-warning" ,method: :delete, data: { confirm: '¿Deseas eliminar al usuario?', } %></td>
      </tr>

    <% end %>
    <% if @users.size == 0 %>
    "USUARIO NO ENCONTRADO"
    <% end %>



</table>
</div>
